.milestones-months {
	display: none;
}

body {
	display: flex;
	flex-direction: column;
	font-weight: normal;
	max-width: 800px;
	margin: 0 auto;
	padding: 0 20px;
	text-decoration: none;
	background: #e6ddde;
	font-family: 'Raleway', sans-serif;
}

.content {
	color: black;
	font-size: 20px;
	font-weight: normal;
	border: thick;
	text-align: center;
	border-bottom: 1px solid #916a70;
}

.age-counter {
	background-image: linear-gradient(to left, violet, indigo, skyblue, blueviolet,violet, lightpink, purple);
  	color: transparent;
  	background-clip: text;
  	-webkit-background-clip: text;
  	text-align: center;
  	font-size: 40px;
}

h1 {
	color: #654a4e;
	padding: 30px;
	font-size: 26px;
}

h2 {
	color: #654a4e;
}
.name {
	font-family: 'Mansalva', cursive;
	text-align: center;
	font-size: 30px;
	background-color:#e1d2d1;
	padding: 8px
}

.floatleft {
	float: left;
}
 
.padding-8 {
	padding: 8px;
}
